<div class="main-div">

  <h1>Welcome to your Dashboard, <%= user.name%>
  </h1>

  <button onclick="location.href='/signout'" class="btn">
    Sign Out
  </button>
  <button onclick="location.href='/forget-password'" class="btn">
    Reset Password
  </button>
</div>