<div class="main-div">
  <h1>Forgot your password?</h1>
  <div class="main-form-div">

    <form action="/forget-password" method="post">
      <input type="email" name="email" placeholder="Enter your email" required>
      <button type="submit" class="btn login-btn">Send Password Reset Link</button>
    </form>
  </div>
</div>

<div id="svg-bg">
  <img src="/images/forgot_password.svg" alt="">
</div>