<div class="main-div">
  <h1>Login or Register</h1>

  <button onclick="location.href='/signin'" class="btn">

    Login
  </button>
  <button onclick="location.href='/signup'" class="btn">
    Register
  </button>
</div>
<div id="svg-bg">
  <img src="/images/authentication.svg" alt="">
</div>