<div class="main-div">
  <h1>Reset your password</h1>
  <div class="main-form-div">

    <form action="/reset/<%= id %>" method="post">
      <input type="password" name="password" id="" placeholder="Enter new password" required>
      <input type="password" name="confirm_password" placeholder="Confirm new password" required>
      <button type="submit" class="btn login-btn">Reset Password</button>
    </form>
  </div>
</div>