<div class="main-div">
  <h1>Reset your password</h1>
  <div class="main-form-div">

    <form action="/reset/<%= id %>" method="post">
      <div class="pass-div">
        <input type="password" name="password" placeholder="Enter New Password" class="toggle-visibility" required>
        <i class="fa-solid fa-eye pass-eye"></i>
      </div>
      <div class="pass-div">
        <input type="password" name="confirm_password" placeholder="Confirm Password" class="toggle-visibility2"
          required>
        <i class="fa-solid fa-eye pass-eye2"></i>
      </div>
      <button type="submit" class="btn login-btn">Reset Password</button>
    </form>
  </div>
</div>

<script>
  function showPassword(eyeEl, inputEl) {
    if (eyeEl.hasClass('fa-eye')) {
      inputEl.attr('type', 'text');
      eyeEl.removeClass('fa-eye');
      eyeEl.addClass('fa-eye-slash');
    } else if (eyeEl.hasClass('fa-eye-slash')) {
      inputEl.attr('type', 'password');
      eyeEl.addClass('fa-eye');
      eyeEl.removeClass('fa-eye-slash');
    }
  }

  const eyeEl = $('.pass-eye');
  eyeEl.click(function (e) {
    const inputEl = $('.toggle-visibility');
    showPassword(eyeEl, inputEl);
  });

  const eyeEl2 = $('.pass-eye2');
  eyeEl2.click(function (e) {
    const inputEl = $('.toggle-visibility2');
    showPassword(eyeEl2, inputEl);
  });
</script>