<script>
  $('#signup-form').submit(function (event) {
    event.preventDefault();
    grecaptcha.reset();
    grecaptcha.execute();
  });
  function onSubmit(token) {
    document.getElementById("signup-form").submit();
  }
</script>

<div class="main-div" id="signup-div">


  <h1>Register</h1>
  <div class="main-form-div" id="signup-form-div">

    <form action="/create" method="POST" id="signup-form">
      <input type="text" name="name" placeholder="Name" required>
      <input type="email" name="email" placeholder="Email" required>

      <div class="pass-div">
        <input type="password" name="password" placeholder="Enter Password" class="toggle-visibility" required>
        <i class="fa-solid fa-eye pass-eye"></i>
      </div>
      <div class="pass-div">
        <input type="password" name="confirm_password" placeholder="Confirm Password" class="toggle-visibility2"
          required>
        <i class="fa-solid fa-eye pass-eye2"></i>
      </div>

      <div class="g-recaptcha" data-sitekey="6Le4CuklAAAAAEZdqvEcyrrhyUpSza6FYsNIzlQl" data-callback="onSubmit"
        data-size="invisible">
      </div>
      <button class="btn login-btn" type="submit">Sign up</button>
    </form>
  </div>

  <div class="google-signin-div">

    <p>&mdash; Or Sign in with &mdash;</p>

    <button onclick="location.href='/auth/google'" class="google-btn"><img src="/images/google.svg" alt="">
      <p><strong>Google</strong></p>
    </button>

    <p>Already have an account? <a href="/signin">Login</a> </p>
  </div>
</div>

<div id="svg-bg">
  <img src="/images/signup.svg" alt="">
</div>